body {
    font-family: Arial, sans-serif;
}
#container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#b1, #b2{
    background-color: dodgerblue;
    width: 80px;
    border: none;
       /* display:block!important;
        -webkit-transition: 3s ease-out;
        -moz-transition:1s ease-out;
        -o-transition: 1s ease-out;
        -ms-transition:1s ease-out;*/
        transition: 0.5s ease-out;
}
        #b1:hover, #b2:hover{
            background-color: coral;
            /*-moz-transform: scale(2.2);
            -webkit-transform: scale(2.2);
            -o-transform: scale(2.2);
            -ms-transform: scale(2.2);
            transform: scale(2.2);*/
            transform: scaleX(0.8) scaleY(2.0);
        }


img {
    width: 300px;
}

