body {
    font-family: Arial, sans-serif;
}
#container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#b1, #b2{
    background-color: dodgerblue;
    width: 80px;
    border: none;
    transition: 0.5s ease-out;
}
#b1:hover, #b2:hover{
    background-color: coral;
    transform: scaleX(0.8) scaleY(2.0);
}

#b1:disabled{
    background-color: green;

}


img {
    width: 300px;
}

